*{
    margin: 0px;
    padding: 0px;
}
.blue{
    border-bottom: 1px solid black;
    background-color: blue;
    width: 100%;
    height: 110px;
}
.white{
    width: 100%;
    height: 441px;
}
#user{
    position: relative;
    left: 38%;
    margin-top: 180px;
    width: 300px;
}
#pass{
    position: relative;
    left:38%;
    margin-top: 10px;
    width: 300px;
}
#log{
    position: relative;
    left: 48%;
    margin-top: 10px;
    color: white;
    background-color: red;
    border: red;
    width: 150px;
}
.gris{
    background-color: gray;
    border-top: 1px solid black;
    width: 100%;
    height: 200px;
}