.container{
    padding: 5px;
    display: flex;
    width:1210px;
    height:308px;
    background-color: rgb(80, 135, 202);
    flex-wrap: wrap;
    gap: 1px;
    justify-content: flex-start;

    }
.flex{
    font-size: 50px;
    width: 400px;
    height:100px;
    background-color: pink;
    color: white;
    text-align: center;

}

